<form action = "/numbers" method = "POST">
	Type your 3 favorite numbers:<br>
	 <input type="text" name="favnum1"> <br>
	 <input type="text" name="favnum2"> <br> 
	 <input type="text" name="favnum3"> <br> 
	 <input type ="submit">
</form>



